body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url('https://i.imgur.com/yZDqyJZ.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

h1, h2, h3 {
  color: white;
}

input {
  color: white;
  width: 60%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
