.body {
    background-image: url("https://i.imgur.com/D6eRMiH.jpeg");
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
}

/* h1 {
    color: black;
}

h2 { 
    color: black;
} */

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    height: 100px;
    width: 100%;
    padding: 10px;
    color: white;
    backdrop-filter: blur(20px);
    font-size: 30px;
  }
  
  a, .jobButtons {
    margin: 20px;
    padding: 10px;
    /* border: 1px solid black; */
  }

  /* input [type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
  } */

  .form {
    color: white;
    width: 50%;
    margin: 0 auto;
  }

  .cblabel {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    color: white;
  }

  .date_applied {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }

input[type=date] {
    color: #606c76;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}


.applied input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

  /* input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
} */

  #placeholder {
    color: white;
 }

  button {
    margin: 0px 0 0 0;
    background-color: #005281;
    opacity: 0.9;
    margin: 15px;
    color: white;
    border: white;
  }

  label {
    color: white;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }


  /* input {
    align-items: center;
    margin: 0 100px 0 100px;
  } */
